header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url("https://source.unsplash.com/XT5OInaElMw/1600x900")
            black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

// SEARCH

.container-custom {
    position: relative;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: crimson;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;

        // box-shadow: 0 0 25px 0 crimson;
        &:hover {
            cursor: pointer;
        }
        &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 5px;
            right: 1px;
            bottom: -1px;
            left: 7px;
            width: 5px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: -3px;
            left: -2px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all 0.5s;
        }
    }
    .input-custom {
        font-family: "Inconsolata", monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 20px;
        outline: none;
        border: none;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: crimson;
        color: white;
        text-shadow: 0 0 10px crimson;
        border-radius: 30px;
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        padding: 10px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            width: 100px;
            opacity: 1;
            cursor: text;
        }
        &:focus ~ .search {
            right: -100px;
            background: #151515;
            z-index: 6;
            &::before {
                top: 0px;
                left: 0;
                width: 10px;
            }
            &::after {
                top: -2px;
                left: -1px;
                width: 10px;
                height: 2px;
                border: none;
                background: white;
                border-radius: 0%;
                transform: rotate(-45deg);
            }
        }
        &::placeholder {
            color: white;
            opacity: 0.7;
            font-size: 10px;
        }
    }
}
