@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500&display=swap");
a:focus {
    box-shadow: none !important;
}
.a-hover:hover {
    color: darkblue !important;
}
// SEARCH

.container-custom {
    position: relative;
    width: 100px;
    height: 30px;
    margin-top: 5px;

    .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: crimson;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;

        // box-shadow: 0 0 25px 0 crimson;
        &:hover {
            cursor: pointer;
        }
        &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 5px;
            right: 1px;
            bottom: -1px;
            left: 7px;
            width: 5px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: -3px;
            left: -2px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all 0.5s;
        }
    }
    .input-custom {
        font-family: "Inconsolata", monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 20px;
        outline: none;
        border: none;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: crimson;
        color: white;
        text-shadow: 0 0 10px crimson;
        border-radius: 30px;
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        padding: 10px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            width: 100px;
            opacity: 1;
            cursor: text;
        }
        &:focus ~ .search {
            right: -100px;
            background: #151515;
            z-index: 6;
            &::before {
                top: 0px;
                left: 0;
                width: 10px;
            }
            &::after {
                top: -2px;
                left: -1px;
                width: 10px;
                height: 2px;
                border: none;
                background: white;
                border-radius: 0%;
                transform: rotate(-45deg);
            }
        }
        &::placeholder {
            color: white;
            opacity: 0.7;
            font-size: 10px;
        }
    }
}

//css Pasquale

:root {
    --main-color: #2556e2;
    --secondary-color: #d2e8ff;
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

.text-blue {
    color: var(--main-color);
}

.text-orange {
    color: var(--secondary-color);
}

#navbar {
    transition: 1000ms;   
}

#logo {
    transition: 1000ms;
    
}

.title-name {
    color: var(--main-color);
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.btn-announcement {
    color: #fff;
    background-color: var(--main-color);
    font-weight: 500;
    border: 2px solid;
    border-color: var(--secondary-color);
    border-radius: 10px !important;
}

.btn-blue-border {
    color: var(--main-color);
    background-color: transparent;
    font-weight: 500;
    border: 2px solid;
    border-color: var(--main-color);
    border-radius: 10px !important;
}

.btn-reverse {
    color:  #fff;
    background-color: var(--main-color) ;
    font-weight: 500;
    border: 2px solid;
    border-color: #fff ;
    border-radius: 10px !important;
}

.btn-reverse:hover {
    color:var(--main-color);
    background-color: #fff;
    font-weight: 500;
    border: 2px solid;
    border-color: #fff;
    border-radius: 10px !important;
}

.btn-announcement:hover {
    background-color: #fff  !important;
    border-color: var(--main-color);
    color: var(--main-color) ;
}

.colored-border {
    border-bottom: 2px solid var(--main-color);
}

.initialForm {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
}

header {
    background-color: #5999ff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.homepage-above-img{
    max-width: 500px;
}

.homepage-above-img svg{
    max-width: 100%;
}

.main-title{
    font-size: 5rem;
}

.main-title::after{
    content: "";
    width: 30%;
    height: 10px;
    background-color: var(--main-color);
    display: block;
    margin-top: 5px;
}

.category-title{
    font-size: 2rem;
}

.category-title::after{
    content: "";
    width: 30%;
    height: 10px;
    background-color: var(--main-color);
    display: block;
    margin-top: 5px;
}

.modal-header-custom{
    border-bottom: 0;
}

.modal-content-custom{
    padding: 10px;
}

.category-ul{
    list-style: none;
    padding: 0;
}

.category-li{
    position: relative;
    margin-bottom: 10px;
}

.category-li::before{
    content: "";
    width: 10%;
    height: 5px;
    background-color: #214cd8;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.category-li:hover::before{
    width: 50%;
}

.modal-item{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 5px;
    display: block;

}

.modal-item:hover{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 5px;
    display: block;

}

*:focus {
    border-color: var(--main-color) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(16, 84, 80, 0.25) !important;
}

.back-to-search {
    z-index: 99;
    cursor: pointer;
}

.category-card,
.category-card-img {
    border: none;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px !important;
    transition: 0.2s;
    height: 300px;
}

.category-card:hover,
.category-card-img:hover {
    box-shadow: 0 15px 29px 0 rgba(0, 0, 0, 0.2);
}

.category-card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 0 !important;
}

.custom-jumbo {
    border-radius: 10px !important;
    border: 5px solid var(--secondary-color);
    background-color: #fff;
    color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.custom-jumbo-particles {
    border: 5px solid var(--secondary-color);
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.modal-round {
    border-radius: 10px !important;
}

.featured-card {
    border: none;
}

.featured-card-img {
    border-radius: 10px !important;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
}

.custom-link {
    color: inherit;
}

.custom-link:hover {
    color: inherit;
    text-decoration: none;
}

.fa-star {
    color: var(--secondary-color);
}

.featured-product-card {
    border: none;
}

.featured-product-card-img {
    border-radius: 10px !important;
}

footer {
    background-color: var(--main-color);
}

.custom-list {
    list-style: none;
}

.custom-bg {
    background-color: var(--secondary-color);
}

.svg-separator {
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
}

.sep5 {
    transform: translateY(-100%) translateY(2px) scale(1, 1);
    transform-origin: top;
}

#particles-js canvas {
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
    transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.custom-checkbox {
    background-color: var(--main-color) !important;
}

.custom-text-checkbox {
    background-color: #f1f1f1;
}

.filter-bar {
    z-index: 999;
    position: sticky;
    top: 130px;
}

.loved-item {
    cursor: pointer;
}

#lovedProduct {
    cursor: pointer;
}

.corner-radius {
    border-radius: 10px;
}

#mainPicProducts {
    width: 100%;
    height: 500px;
    background-image: url("/public/media/p-2.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-miniature {
    cursor: pointer;
}

.owl-prev > span {
    font-size: 40px;
}

.owl-next > span {
    font-size: 40px;
}

/* Sign-up page */

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("https://media.giphy.com/media/iVqXV4vE4DDYk/giphy.gif");
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(
        var(--input-padding-y) + var(--input-padding-y) * (2 / 3)
    );
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/* End sign-up page */

@media only screen and (max-width: 575.98px) {
    #logo {
        width: 50px;
    }

    .category-card {
        margin-top: 20px;
    }

    header {
        min-height: 600px;
    }

    .not-main {
        min-height: 500px;
    }

    .category-card,
    .category-card-img {
        height: 200px;
    }

    .featured-card,
    .featured-card-img {
        height: 250px;
    }

    .main-title{
        font-size: 4rem;
        margin-top: 100px;
    }

    .category-title::after{
        height: 5px;
    }

    .category-title{
        font-size: 1.5rem;
    }

    .homepage-above-img svg{
        max-height: 400px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991.98px) {
    .category-card {
        margin-top: 20px;
    }

    .category-card,
    .category-card-img {
        height: 300px;
    }
}

.no-shadow:focus {
    box-shadow: none !important;
}
//fine css Pasquale

//slick test
.slick-slide {
    height: 200px;
}

.slick-slide img {
    height: 200px;
}

//test footer

html {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  }
  main {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    
  }
  .footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
   
  }

  .sticky-to-nav{
      position: sticky;
      top: 80px;
  }

 .text-main-color {
     color: var(--main-color) !important;
 }

 

 .onde{
     margin-top: -350px;
     
     overflow: hidden !important; 
 }

 //test categories
 .slick-slide{
    display: inline-block;
}

	.slider{
		overflow:hidden;
		margin: 0px -15px;
		padding: 8px 0 ;
	}
	.itm{
        display: block;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		height: 125px;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
		transform-style: preserve-3d;
		
		outline: none;
		@media (min-width:768px){
			height: 200px;
		}
		&.seguro{
			background-image: url(https://images.unsplash.com/photo-1589830161958-8cb70fcd07c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
		}
		
		.caption{
			transform: translateZ(100px);
			position: absolute;
			display:block;
			bottom: 10px;
			left: 15px;
			p{
				
				font-weight: bold;
				font-size: 15px;
				color:white;
				text-shadow: 0 0 5px rgba(0,0,0,.3);
				display:block;
				@media (min-width:768px){
					font-size: 26px;
					bottom:15px;
				}
			}
		}
	}

    .btn-mobile{
        
        position: fixed;
        bottom: 15px;
        left: 10%;
        @media (min-width:768px){
            display: none;
        }
    }
    .da-btn-secondary{
        background: var(--main-color);
        
        font-weight:bold;
        border:0;
        outline:0;
        font-size: 17px;
        color: var(--secondary-color);
        padding: 9px;
        text-transform: uppercase;
        width: 80%;
        border-radius: 22px;
        box-shadow: 0 5px 20px rgba(0,0,0,.2);
    }

    .dropdown-menu.show  {
            border: 0 !important;
            border-radius: 19px !important;
            box-shadow: 0px 7px 7px rgba(37, 37, 37, 0.616);
            transition: ease-in  2s;
        }
    
        .dropdown-item:hover,.dropdown-item:focus  {
            border-radius: 25px;
        }
    
    .background-main-color {
        background-color: var(--main-color) !important;
    }

   